/* Colors used:
 blue-00B0FF, White-FFFFFF, Black-000000 , Red-ff3850
 */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  padding-top: 0.67em;
}

.h1.hero {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #000;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.remove-padding {
  padding: 0;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #00b0ff;
  color: #fff
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.red {
  background-color: #00b0ff;
  text-transform: uppercase;
  border-bottom: 2px solid #016896;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  color: #fff;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

button.red {
  display: inline-block;
  background-color: #ff3850;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button1,
.button2 {
  display: inline-block;
}

/* Images */
#hero-expert {
  background-image:
    linear-gradient
    (rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(../img/expert-app-process/expert-app-hero-image@2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 3em 0;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

header {
  background-color: #000;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  display: inline-block;
}

a.logo {
  font-weight: 600;
  font-size: 1.5em;
  color: #fff;
  max-width: 150px;
}

a:visited.logo {
  color: #fff;
}

a:hover.logo {
  text-decoration: none;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #fff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 52px;
}

footer .button {
  margin: 10px 0;
}

footer .fas,
footer .fab {
  margin-right: 10px;
}

footer {
  background: #000;
  text-align: center;
  color: #fff;
}

footer h2 {
  color: #fff;
  padding: 30px 0 0;
}

footer p {
  margin: 0;
  padding: 1em 0;
}

/* ==============================
------------Projects Pages------
================================= */
#myprojects {
  text-align: center;
  color: #000;
}

.row {
  border-bottom: 1px solid;
}

.expertpage {
  padding-top: 52px;
}

.issues3 img {
  max-width: 200px;
  display: inline-block;
}

.issues img {
  max-width: 200px;
  display: block;
  margin: auto;
}

#process-box ul {
  margin-left: 15px;
}

#process-box {
  background-color: lightblue;
}

.dt-box {
  background-color: #476b8e;
  padding: 10px;
  margin-bottom: 15px;
}

.dt-box h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#discover .heading {
  background-color: black;
  padding: 20px 0;
}

#discover .heading h2,
#discover .heading p {
  color: #fff;
}

#discover .heading h2 {
  margin: 0;
}

#discover .heading p {
  margin-top: 0;
}

#work .row {
  padding-bottom: 25px;
}

/* ==============================
--------animation------
================================= */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 20s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 25s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  main {
    padding-top: 80px;
  }

  a.logo {
    margin-top: 5px;
    min-width: 641px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -10px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }

  nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }

  nav > ul > li > a:hover {
    color: #fff;
    opacity: 0.8;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero-expert span {
    display: block;
  }

  #hero-expert h1 {
    font-size: 2em;
  }

  #hero-expert {
    margin-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page {
    margin-top: 0;
  }

  #about-page img {
    max-width: 350px;
  }

  .center {
    text-align: center;
  }

  .expert-gif img {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .processimgs img {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dt-box {
    min-height: 230px;
  }

  #discover .heading h2 {
    text-align: right;
    padding-right: 20px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 21px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
  }

  #hero {
    padding: 100px 0;
  }

  #hero-expert span {
    display: block;
  }

  #hero p,
  #hero-expert p {
    max-width: 700px;
    margin: 0 auto;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-3 {
    width: 25%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page img {
    max-width: 400px;
  }

  .center {
    text-align: center;
  }

  #about-page {
    margin-top: 0;
  }

  .expert-gif img {
    max-width: 250px;
  }

  #process-box {
    display: flex;
    justify-content: center;
  }

  .logo1 img {
    max-width: 400px;
  }

  .logo2 img {
    max-width: 150px;
  }

  .processimgs img {
    max-width: 800px;
  }

  .issues img {
    max-width: 200px;
    margin: auto;
  }

  .dt-box {
    min-height: 330px;
  }
}
